{% extends '::base.html.twig' %}

{% block body -%}
    <ol class="breadcrumb">
        {% include 'cjohnsonContentManagementSystemBundle:Admin:breadcrumbDropdown.html.twig' %}
        <li class="active">Header Links</li>
    </ol>
    <h1>Header Link list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Sort Order</th>
            <th>Link Text</th>
            <th>Page Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_headerlink_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.sortOrder }}</td>
                <td>{{ entity.linkText }}</td>
                <td>{{ entity.page.name }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('admin_headerlink_show', { 'id': entity.id }) }}"><span
                                class="glyphicon glyphicon-zoom-in"></span> Details</a>
                    <a class="btn btn-default" href="{{ path('admin_headerlink_edit', { 'id': entity.id }) }}"><span
                                class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-default" href="{{ path('admin_headerlink_new') }}">
        <span class="glyphicon glyphicon-plus"></span> Create a new link
    </a>
{% endblock %}
