{% extends '::base.html.twig' %}

{% block body -%}
    <ol class="breadcrumb">
        {% include 'cjohnsonContentManagementSystemBundle:Admin:breadcrumbDropdown.html.twig' %}
        <li><a href="{{ path('admin_page') }}">Pages</a></li>
        <li class="active">Page: {{ entity.name }}</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ entity.name }}
                <small>URI: {% if entity.uri %} <a
                        target="_blank"
                        href="{{ path('cjohnson_content_management_system_dbroute',{'uri':entity.uri}) }}">{{ entity.uri }}</a>{% else %}
                        <a
                                target="_blank"
                                href="{{ path('cjohnson_content_management_system_homepage') }}">Click Here To View</a>
                    {% endif %}
                </small>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Published</th>
                    <td>{% if entity.published %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Is Home Page</th>
                    <td>{% if entity.isHomePage %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Is Header Hidden</th>
                    <td>{% if entity.isHomePage %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>{# @TODO convert to human readable values#}
                    <th>Page Cache Time</th>
                    <td>{{ entity.cacheTTL }} seconds</td>
                </tr>
                <tr>
                    <th>Created Date</th>
                    <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified Date</th>
                    <td>{{ entity.modifiedDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-1"><a role="button" class="btn btn-primary"
                                         href="{{ path('admin_page_edit', { 'id': entity.id }) }}">
                        Edit
                    </a></div>
                <div class="col-md-11">{{ form(delete_form) }}   </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rows</h3>
                </div>
                <div class="panel-body">
                    <div id="alertbox"></div>
                    <ul id="sortable" class="list-group" style="cursor: move">
                        {% for pageRow in rows %}
                        <li class="list-group-item" id="pageRow-{{ pageRow.id }}">
                            <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                            {{ pageRow.row.name }}
                            <span style="float: right"> <a type="button" class="btn btn-default btn-xs"
                                                           href="{{ path('admin_pagerow_delete_redirect_to_show_page',{'id':pageRow.id}) }}"><span
                                            class="glyphicon glyphicon-trash"></span></a>
                            <a type="button" class="btn btn-default btn-xs"
                               href="{{ path('admin_pagerow_redirect_to_show_row',{'id':pageRow.id}) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a></span>
                            </li>{% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a Row</h3>
                </div>
                <div class="panel-body">
                    {{ form(pageRowForm) }}
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Page Preview</h3>
        </div>
        <div class="panel-body">
            {% include 'cjohnsonContentManagementSystemBundle:Default:display.html.twig' %}
        </div>
    </div>

{% endblock %}{% block footerJS %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $('#sortable').sortable({
            axis: 'y',
            update: function (event, ui) {
                var data = $(this).sortable('serialize');
                // POST to server using $.post or $.ajax
                var request =
                        $.ajax({
                            data: data,
                            type: 'POST',
                            url: '{{ path('admin_pagerow_rank_update_list') }}'
                        });

                request.success(function (msg) {
                    var someNumber = Math.floor((Math.random() * 1000000) + 1);
                    $('#alertbox').append('<div id="alert-' + someNumber + '" class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Cheers, Mate!</h4>The row orders have been updated!!</div>');
                    window.setTimeout(function () {
                        $("#alert-" + someNumber).fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                });

                request.fail(function (jqXHR, textStatus) {
                    $('#alertbox').innerHTML = '<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Oh Snap!</h4>The row order has NOT been updated!!</div>';
                });
            }
        });
    </script>
{% endblock %}
