{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PageRow</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ entity.rank }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{{ entity.createdOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifiedon</th>
                <td>{{ entity.modifiedOn|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_pagerow') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_pagerow_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
