<li class="active dropdown">
    <a href="{{ path('admin_page') }}" type="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        CMS Administration</a> <span class="caret"></span>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="{{ path('admin_page') }}">
                Pages</a></li>
        <li><a href="{{ path('admin_row') }}">
                Rows</a></li>
        <li><a href="{{ path('admin_component') }}">
                Components</a></li>
        <li><a href="{{ path('admin_image') }}">
                Images</a></li>
        <li><a href="{{ path('admin_headerlink') }}">
                Header Links</a></li>
        <li><a href="{{ path('setting') }}">
                Settings</a></li>
    </ul>
</li>